---
import { Image } from 'astro:assets';
import GithubWSF from '../assets/GithubWSF.png';
---

<div>
  <Image
    class="project-image border  border-black"
    src={GithubWSF}
    alt="GithubWSF"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
