---
import { Image } from 'astro:assets';
import WeelGo from '../assets/WeelGo.png';
---

<div>
  <Image
    class="project-image border  border-black"
    src={WeelGo}
    alt="WeelGo"
    densities={[1, 2, 3]} 
  />
</div>

<style>
  .project-image {
    width: 100%;
    height: auto;
  }
</style>
